body{
    height: 1200px;
    width: 100%;
    margin: 0;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
.menu-principal{
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    transition: 0.6s;
    z-index: 100000;
    margin: 0 auto;
    background-color: white;
}
main{
    position: relative;
    height: 100%;
}
.header-1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.6s;
    height: auto;
}
.titulo{
    float: left;
    padding: 15px;
    width: 50%;
    font-size: 25px;
}
.logo{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img:hover{
    width: 125px;
    height: 125px;
    transition: 0.6s;
}
.logo img{
    width: 120px;
    height: 120px;
    transition: 0.6s;
}
.atalhos ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.atalhos ul li{
    display: inline-block;
    font-size: 150%;
    position: relative;
}
.atalhos ul li a:hover{
    color: #00BF63;
}
.atalhos ul li a{
    color: black;
    text-decoration: none;
    position: relative;
    font-size: inherit;
    transition: 0.6s;
}
.atalhos{
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 37%;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.texto1{
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
    padding-inline: 20px;
}
.texto2{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
}
.texto3{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
}
header.sticky{
    height: auto;
    background: #0B5360;
    padding-top: 3px;
}
header.sticky ul li a
{
    color: white;
}
header.sticky .texto2 { 
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: white;
}
header.sticky .texto3 { 
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: white;
}
header.sticky .texto2-sel { 
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: white;
}
header.sticky .texto3-sel { 
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    border-color: white;
}

header.sticky .logo img{
    width: 100px;
    height: 100px;
}
header.sticky .logo img:hover{
    width: 110px;
    height: 110px;
}
header.sticky ::placeholder{
    color: white;
    transition: 0.6s;
}
.busca{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}
.busca img{
    transition: 0.6s;
}
.busca input{
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    transition: 0.6s;
    font-size: inherit;
    border: 0;
    outline: 0;
    padding: 4px;
}
::placeholder {
    padding: 3px;
    transition: 0.6s;
    color: black;
}
.banner1 img{
    width: 100%;
    height: auto;
}
.titulo-cinza{
    color:dimgrey;
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.guiasaude{
    text-align: center;
    color: dimgray;
    display: grid;
}
.botao1{
    transition: 0.6s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
    background-color: #00BF63;
}
.botao1:hover{
    transition: 0.6s;
    background-color: #018344;
}
.titulo-preto{
    color:dimgray;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1%;
}
.posts{
    margin: 40px;
}
.quemsomos{
    height: auto;
}
.ifsp-logo img{
    width: 100%;
    height: fit-content;
}
.ifsp-logo{
    display: flex;
}
.texto-quemsomos{
    display: flex;
    margin: 30px;
    text-align: left;
}
.texto1-qs{
    font-size: 30px;
    align-items: center;
    display: flex
}
.texto2-qs{
    font-size: 25px;
    margin: 2%;
}
.texto1-sel{
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
    padding-inline: 20px;
    color: #00BF63;
}
.texto3-sel{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    color: #00BF63;
}
.texto2-sel{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    color: #00BF63;
}
.escola-img img{
    margin-top: 3%;
    width: -webkit-fill-available;
}
.IMC{
    margin: 5%;
}
.calculo-imc{
    font-size: 20px;
}
.input-text{
    font-family: inherit;
    box-sizing: border-box;
    padding: 3px;
    background-color: #ffffff;
    font-size: 16px;
    border: 1px solid #6d6d6d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
    margin-top: 10px;
}#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    position: relative;
}

#title::after {
    position: absolute;
    content: '';
    width: 8rem;
    height: 3px;
    border-radius: 3px;
    background-color: #16a34a;
    bottom: 0;
    left: 0;
}

.input-box label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #cbd5e1;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,  
.input-field i  {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #f8fafc;
    background-color: #16a34a;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color:#cbd5e1;
}

.normal {
    color: #16a34a;
}

.attention {
    color: #dc2626;
}

#description{
   width: 15.5rem;
}

#more_info {
    text-align: center;
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#more_info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: #16a34a;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}

#more_info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #img {
        display: none;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}
