body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Poppins;
    background-color: #0f2236;
    margin-bottom: 2vh;
}
.menu-principal{
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    transition: 0.6s;
    z-index: 100000;
    margin: 0 auto;
    background-color: #0b1a29fb;
}
main{
    position: relative;
    height: 100%;
}
.header-1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.6s;
    height: auto;
}
.titulo{
    float: left;
    padding: 15px;
    width: 50%;
    font-size: 25px;
}

.botao{
    width: fit-content;
    height: fit-content;
    margin: 30px;
}

.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.logo img:hover{
    width: 14vh;
    height: 14vh;
    transition: 0.6s;
}
.logo img{
    width: 12vh;
    height: 12vh;
    transition: 0.6s;
}

.atalhos ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.atalhos ul li{
    display: inline-block;
    font-size: 150%;
    position: relative;
}
.atalhos ul li a:hover{
    color: #00BF63;
}
.atalhos ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: inherit;
    transition: 0.6s;
}
.atalhos{
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25%;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.texto1{
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
    padding-inline: 20px;
    font-size: 1.2rem;
}
.texto2{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    font-size: 1.2rem;
}
.texto3{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    font-size: 1.2rem;
}
header.sticky{
    height: auto;
    padding-top: 3px;
}
header.sticky .logo img{
    width: 8vh;
    height: 8vh;
}
header.sticky .logo img:hover{
    width: 10vh;
    height: 10vh;
}
header.sticky ::placeholder{
    color: white;
    transition: 0.6s;
}
::placeholder {
    padding: 3px;
    transition: 0.6s;
    color: black;
}
.titulo-cinza{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.guiasaude{
    text-align: center;
    color: rgb(212, 212, 212);
    display: grid;
    justify-content: center;
    margin-top: 10vh;
}
.botao1{
    transition: 0.6s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: #00BF63;
    max-width: 50vh;
}
.botao1:hover{
    transition: 0.6s;
    background-color: #018344;
}

.botao1 a{
    text-decoration: none;
    color: white;
}

.botao2{
        transition: 0.6s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: #00BF63;
    max-width: 50vh;
}

.titulo-preto{
    color:dimgray;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1%;
}
.posts{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quemsomos{
    height: auto;
}
.ifsp-logo img{
    width: 100%;
    height: fit-content;
}
.ifsp-logo{
    display: flex;
}
.texto-quemsomos{
    display: flex;
    margin: 30px;
    text-align: left;
}
.texto1-qs{
    font-size: 30px;
    align-items: center;
    display: flex;
    color: white;
}
.texto2-qs{
    font-size: 25px;
    margin: 2%;
    color: white;
}
.texto1-sel{
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    margin: 0;
    padding-inline: 20px;
    font-size: 1.2rem;
    color: #00BF63;
}
.texto3-sel{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    font-size: 1.2rem;  
    color: #00BF63;
}
.texto2-sel{
    -webkit-transition: border-color 0.6s ease-out;
    -moz-transition: border-color 0.6s ease-out;
    -o-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    position: relative;
    overflow: visible;
    visibility: inherit;
    text-align: center;
    border-left-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0;
    padding-inline: 20px;
    color: #00BF63;
    font-size: 1.2rem;
}
.escola-img img{
    margin-top: 3%;
    width: -webkit-fill-available;
}
.IMC{
    margin: 5%;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;
}

.alongamento{
    border-style: solid;
    border-color: #018344;
    margin: 10vh;
    padding: 10vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

video{
    max-width: 70vw;
    margin-top: 5vh;
}

.calculo-imc{
    font-size: 20px;
}
.input-text{
    font-family: inherit;
    box-sizing: border-box;
    padding: 3px;
    background-color: #ffffff;
    font-size: 16px;
    border: 1px solid #6d6d6d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
    margin-top: 10px;
}#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    position: relative;
}

#title::after {
    position: absolute;
    content: '';
    width: 8rem;
    height: 3px;
    border-radius: 3px;
    background-color: #16a34a;
    bottom: 0;
    left: 0;
}

.input-box label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #cbd5e1;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,  
.input-field i  {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #f8fafc;
    background-color: #16a34a;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color:#cbd5e1;
}

.normal {
    color: #16a34a;
}

.attention {
    color: #dc2626;
}

#description{
   width: 15.5rem;
}

#more_info {
    text-align: center;
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#more_info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: #16a34a;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}

#more_info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #img {
        display: none;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}
.imc-tabela img{
    margin-top: 2%;
}
.imc-tabela{
    justify-content: center;
    display: flex;
}
.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: table;
    margin-bottom: 3vh;
}
.blog-artigos li {
    background: rgb(236, 236, 236);
    border-radius: 16px;
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    margin-top: 40px;
    text-align: center;
    margin: 10px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.assuntos-blog {
    border-radius: 500px;
    object-fit: cover;
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.grid-1-3 {
    width: 60vh;
    float: left;
    list-style-type: none;
    height: 90vh;
}
.grid-1-3 a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 0.6s;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}
.grid-1-3 p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}
.titulo-posts{
    margin-top: 6vh;
    margin-bottom: 1vh;
    color:white;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
ul{
    padding: 0;
}
.botao-ler{
    margin: 20px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: 0 solid #00f;
    margin-top: 20px;
    background: #00BF63;
    transition: 0.6s;
}
.botao-ler:hover{
    background: #018344;
    transition: 0.6s;
}
.posts{
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;
    display: grid;
}
.titulo-link:hover{
    color: #00BF63;
}
.quemsomos{
    background-color: #3c8563;
}
